body {
    margin: 0;
    padding-top: 50px;
    text-align: center;
    background-color: black;
    color: #cccccc;
    font-family: Arial, Helvetica, sans-serif;
}

.choices button {
    font-size: 8em;
    border-radius: 50%;
    margin: 50px 10px;
    background-color: #708090;
    outline: none;
    padding: .5rem 1.5rem;
    border-style: none;
}

.choices button:hover {
    background-color: #9aa6b1;
}

.choices button:active {
    background-color: #647381;
}

#Game {
    font-size: xx-large;
    color: #a48f7a;
}