.bungee-shade-regular {
  font-family: "Bungee Shade", sans-serif;
  font-weight: 400;
  font-style: normal;
}

body {
    margin: 0;
    padding: 50px 15px;
    text-align: center;
    background-color: #0b0322;
    color: #f0f0f0;
    font-family: sans-serif;
}

.choices button {
    aspect-ratio: 1/1;
    height: auto;
    width: auto;
    font-size: 8em;
    border-radius: 50%;
    margin: 10px 10px;
    background-color: #7da1c4;
    outline: none;
    /* padding: .5rem; */
    border-style: none;
}

.choices button:hover {
    background-color: #41B6E6;
}

.choices button:active {
    background-color: #87b0da;
}

#Game {
    font-size: xx-large;
    color: #FFC845;
    margin-bottom: 40px;
}